# Configuration of Typesense fed to the operator goes here
apiVersion: typesenseproject.org/v1
kind: TypesenseOperator
metadata:
  name: type-operator
spec:
  replicas: 1
  namespace: typesense
  image: typesense/typesense:0.25.0
  resources:
    requests:
      memory: 100Mi
      cpu: "100m"
    limits:
      memory: 200Mi
      cpu: "100m"
  host: typesense.example.org
  nodeSelector:
    kubernetes.io/os: linux
  # storageClass:
  #   name: standard
  #   size: "100Mi"
config:
  password: "123456789"
